.badge-hentai { background-color: #FF0000; color:white;}
.badge-comedy { background-color: #F8FF26; color:black;}
.badge-16 { background-color: #3AFFED; color:black;}
.badge-school { background-color: #3A9DFF; color:white;}
.badge-love { background-color: #E43AFF; color:white;}
.badge-18 { background-color: #FCA401; color:black;}
.bank-center { text-align:center; }
.bank-fonthead {font-family: 'Kanit', sans-serif;}
.sarabun-font{
  font-family: 'Sarabun', sans-serif;
}
.swal2-title {
    font-family: 'Sarabun', sans-serif;
    /* font-style: italic; */
  }
.complete{
  color: green;
}
.incoming{
  color: red;
}

.tag-Anime{
  color: #23FFD4;
}

.tag-Manga{
  color: #4679FF;
}

.tag-LiveAction{
  color: #EFF210;
}

.tag-Manhua{
  color: #F210D3;
}

/*Tag Secret Type Categories*/
.badge-animesubth { background-color: #23FFD4; color:black;}
.badge-mangath { background-color: #4679FF; color:black;}
.badge-animethai {background-color: #99ccff;color: black;}
.badge-mangajp {background-color:#ff6699;color: black;}
.badge-series {background-color:#FF0000;color: white;}
.badge-manhwa {background-color:#F210D3;color: white;}
.badge-animethaisound {background-color:#EFF210;color: black;}

.upper{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
}

@media screen and (max-width: 975px) {
  .priority-4{
    display:none;
  }
  .priority-3{
    display:none;
  }
  .priority-2{
    display:none;
  }

}