.badge-hentai { background-color: #FF0000; color:white;}
.badge-comedy { background-color: #F8FF26; color:black;}
.badge-16 { background-color: #3AFFED; color:black;}
.badge-school { background-color: #3A9DFF; color:white;}
.badge-love { background-color: #E43AFF; color:white;}
.badge-18 { background-color: #FCA401; color:black;}
.bank-center { text-align:center; }
.bank-fonthead {font-family: 'Kanit', sans-serif;}
.swal2-title {
    font-family: 'Kanit', sans-serif;
    /* font-style: italic; */
  }
.complete{
  color: green;
}
.incoming{
  color: red;
}

.tag-Anime{
  color: #23FFD4;
}

.tag-Manga{
  color: #4679FF;
}

.tag-LiveAction{
  color: #EFF210;
}

.tag-Manhua{
  color: #F210D3;
}