
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dowload Other</title>
  <link rel="icon" href="../icon/favicon.jpg" type="image/x-icon"> 
  <link rel="shortcut icon" href="../icon/favicon.jpg" type="image/x-icon"> 

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/sweetalert2.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script> -->
  <!-- <script src="../js/bootstrap.bundle.min.js"></script> -->
  

  <!-- <script src="../js/dataTables.bootstrap4.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <script src="../js/sweetalert2.js"></script>
  <script src="../js/angular.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="//morgul.github.io/ui-bootstrap4/ui-bootstrap-tpls-3.0.6.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154954948-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154954948-1');
  </script>
    <style>
      .pointer {cursor: pointer;}
      .badge-animesubth { background-color: #23FFD4; color:black;}
      .badge-mangath { background-color: #4679FF; color:black;}
      .badge-animethai {background-color: #99ccff;color: black;}
      .badge-mangajp {background-color:#ff6699;color: black;}
      .badge-series {background-color:#FF0000;color: white;}
      .badge-manhwa {background-color:#F210D3;color: white;}
      .badge-animethaisound {background-color:#EFF210;color: black;}
      .upper{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 0;
      }
    </style>
</head>

<body ng-app="myApp" ng-controller="secretCtrl">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">AryMiku - Dowload </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div ng-init="Run()">
  </div>
 

  <!-- Page Content -->
 <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div>
          <label>Search: <input ng-model="searchText"></label>
        </div>
        <div>
          <label><input type="checkbox" ng-model="Check.confirmed" ng-change="change()" id="ng-change-example1" /> AnimeSubThai</label>
          <label><input type="checkbox" ng-model="Check.confirmed2" ng-change="change()" id="ng-change-example1" /> MangaTH</label>
          <label><input type="checkbox" ng-model="Check.confirmed3" ng-change="change()" id="ng-change-example1" /> AnimeThai</label>
          <label><input type="checkbox" ng-model="Check.confirmed4" ng-change="change()" id="ng-change-example1" /> MangaJP</label>
          <label><input type="checkbox" ng-model="Check.confirmed5" ng-change="change()" id="ng-change-example1" /> ManhwaTH</label>
          <label><input type="checkbox" ng-model="Check.confirmed6" ng-change="change()" id="ng-change-example1" /> Series</label>
        </div>
            <table id="example" class="table-striped table-bordered" style="width:100%;height: 37px;">
                    <thead>
                        <tr>
                            <th>หมวดหมู่</th>
                            <th>ชื่อเรื่อง</th>
                            <th>รูปแบบ</th>
                            <th>จำนวนตอน</th>
                            <th>รูปภาพ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Data in Titles | filter : searchText">
                            <td><span ng-class="GetClassType(Data.Type)" >{{Data.Type}}</span></td>
                            <td><a href="Dowload.html?id={{Data.Id}}" bs-tooltip>{{Data.Name}}</a></td>
                            <td>{{Data.Category}}</td>
                            <td>{{Data.Chapter}} <span ng-class="Data.CheckChapter == 'END' ? 'badge badge-success' : 'badge badge-danger'">{{Data.CheckChapter}}</span></td>
                            <td><span ng-click="seepicture(Data.Id)"  class="badge badge-warning pointer">See Picture</span></td>
                        </tr >
                    </tbody>
                </table>
      </div>
    </div>
    <br>
    <div id="bank" class="upper"></div>
  </div>

  <!-- Bootstrap core JavaScript -->

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">รูปแบบสร้างขึ้นโดย AryMiku &copy; Github : <a href="https://github.com/AryMiku/arymiku_trans">Link</a></p>
    </div>
    <!-- /.container -->
  </footer>


</body>

</html>
