<link href="..//css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="..//js/bootstrap.min.js"></script>
<script src="..//js/jquery.min.js"></script>
<script src="..//js/angular.min.js"></script>
<script src="..//js/app.js"></script>
<link rel="stylesheet" href="style.css">
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />

<body>
    


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">AryMiku - Translate</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.facebook.com/AnimefunBB/">ติดต่อเรา</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid" ng-app="myApp" ng-controller="secretCtrl">
    <div style="margin-top: 70px;" >
        Serch (ค้นหา) : <input class="form-control w-25" style="margin-left: 38%;">
    </div>

        <div style="margin-top: -20px;" class="row" ng-init="edragon()">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 outtop" ng-repeat="a in data">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">[Manga] Btoom [TH]</div>

                        <div class="banner-img">
                            <img src="..//pic/secret/secret2/Btoom.jpg" alt="Image 1">
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>แก้ไขครั้งสุดท้าย</strong> 06/04/2020
                                <span></span>
                            </div>
                            <div class="ends">
                                <strong>สถานะ</strong> ยังไม่มีไฟล์เสีย
                            </div>
                        </div>

                        <div class="stats">

                            <div>
                                <strong>จำนวนเล่ม</strong> 23
                            </div>

                            <div>
                                <strong>อัพโหลดแล้ว</strong> 20
                            </div>

                            <div>
                                <strong>ยังขาดอยู่</strong> {{aaa}}
                            </div>

                        </div>

                        <!-- <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div> -->

                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">ดาวน์โหลด</a>
                            <a href="#" class="Cbtn Cbtn-danger">แจ้งไฟล์เสีย</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item" ng-repeat="a in page"><a class="page-link" href="#" ng-click="changepage(a)">{{a}}</a></li>
              <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li> -->
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>

</body>